.btn {
  padding: 0.8rem;
  background: var(--accent);
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;
}

.btn-danger {
  background: var(--danger) !important;
}

.seperator {
  background: var(--border);
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  border-radius: var(--radius-lg);
}

canvas {
  background: white;
}

.notification {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--danger);
}
