#console-grid {
  position: relative;
  background-color: var(--bg-1);
  display: flex;
}

#console-wrapper {
  flex: 1;
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: var(--console-height);
}

#console-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

#console-header {
  position: relative;
  padding: var(--space-sm) 0 var(--space-sm) var(--space-md);
  background-color: var(--bg-0);
}

#console-drag-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  user-select: none;
  cursor: grab;
  padding: var(--space-xs);
  color: var(--input);
  transition: background-color var(--transition-fast);
}

#console-drag-handle:hover {
  background-color: var(--input-hover);
}

#console-drag-handle.dragging {
  background-color: var(--input-hover);
  cursor: grabbing !important;
}

/* make element and all children have the correct cursor whilst dragging */
body.dragging,
body.dragging * {
  cursor: grabbing !important;
}

#console {
  height: 100%;
  background-color: var(--bg-1);
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  position: relative;
}

#console-scroll {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

#console-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: var(--space-md);
  overflow: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;
}

.log {
  align-self: flex-start;
  flex-grow: 0;
  width: fit-content;
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  pointer-events: auto;
  min-width: 0;
}

.log-system {
  color: var(--log-system);
}

.log-user {
  color: var(--log-user);
}
