body {
  margin: 0;

  background: var(--bg);
  color: var(--text);

  font-family: var(--font);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.workspace {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 8fr 2fr;
  gap: 0px;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-0);
}

.tabbar {
  display: none;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 12px;
  padding-right: 12px;

}

.top-interactives {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.input-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--space-sm);
}

.in-out-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;

  background-color: var(--bg-1);
}

.outer-out-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
}

.output-toolbar {
  display: flex;
  flex-direction: row;
  gap: 0px 0px;

  align-items: center;
  background-color: var(--bg-3);
  padding-left: 12px;
  padding-right: 12px;
}

.inner-out-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-2);
}
