[data-theme="dark"] {
  --bg-0: #343434;
  --bg-1: color-mix(in oklch, var(--bg-0) 95%, white);
  --bg-2: color-mix(in oklch, var(--bg-0) 90%, white);
  --bg-3: color-mix(in oklch, var(--bg-0) 85%, white);

  --input: #71f2cf;
  --input-hover: color-mix(in oklch, var(--input) 70%, black);
  --input-disabled: color-mix(in oklch, white 50%, black);

  --error: red;
  --error-hover: color-mix(in oklch, var(--error) 40%, black);
  --error-border: color-mix(in oklch, var(--error) 90%, black);

  --text: white;
}
